<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/detail.css">
    <link rel="stylesheet" href="./icon/iconfont.css">
    <script src="http://api.map.baidu.com/api?v=2.0&ak=7n08qGgSMt4KBH6xbAIYnIHpzESXu8iY"></script>
    <title>详情页</title>
</head>

<body>
    <!--挂载区域-->
    <div id="app" style='min-height:800px;'>
        <!--头部-->
        <top @reg='changeState'></top>
        <div class='content box'>
            <!--标题-->
            <div class="title">
                <div class="title-name fl">
                    <h1 v-cloak>{{totalData.name}}</h1>
                </div>
                <div class="title-price fr">
                    <span class='num' v-cloak>{{totalData.scopePrice}}</span>元/m²/月
                </div>
            </div>
            <!--小标题-->
            <div class="title-tip">
                <div class="tip-part1">
                    <p>
                        <i class='iconfont icon-ditu'></i>
                        <a href="javascript:void(0);" v-cloak>{{totalData.city}}</a> -
                        <a href="javascript:void(0);" v-cloak>{{totalData.region}}</a>
                    </p>
                </div>
                <div class="tip-part2">
                    <p>
                        <i class='iconfont icon-qiyeyuanquwuye-xianxing'></i>
                        <span class='num' v-cloak>{{totalData.updateTime}}</span>有更新 · 近30天内共有{{totalData.appiontCount}}人预约
                    </p>
                </div>
            </div>
            <!--大图和地图-->
            <div class="big-pic clearfix">
                <div class="img fl" @click='maskShow(0,0)'>
                    <div class="slide">
                        <template v-for="item in totalData.mansionPictures">
                            <div class="slide-item">
                                <img :src="item" alt="">
                            </div>
                        </template>
                    </div>
                    <div class="slide-mask">
                        <p v-cloak>查看所有{{len}}张照片</p>
                    </div>
                </div>
                <div class="map fr" id='pos_img'>

                </div>

                <slide :src='dataPic' v-show="maskIter" @close='maskHide'></slide>

            </div>
            <!--锚点选项-->
            <div class="tab">
                <div class="tab-content">
                    <ul class="tab-bar">
                        <li class='on'><a href="#">在租户型</a></li>
                        <li><a @click='scroll(1)' href="javascript:void(0);">大厦简介</a></li>
                        <li><a @click='scroll(2)' href="javascript:void(0);">周边大厦</a></li>
                    </ul>
                    <div class="right-info">
                        <div class="price-info clearfix">
                            <div class="pi-title">大厦均价</div>
                            <div class="pi-price">
                                <span v-cloak>{{totalData.avgPrice}}</span>
                                <span class='unit'>元/m²/月</span>
                            </div>
                        </div>
                        <!--电话预约信息-->
                        <order-info :num='totalData.appiontCount' :stateobj='regStateObj' :idobj='idObj' @regsuccess='changeState'></order-info>
                    </div>
                </div>
            </div>
            <div class="main">
                <!--户型展示-->
                <div class="house-content">
                    <!--大厦列表-->
                    <list :count='totalData.countRooms' :pic='totalData.roomPictures' :list='totalData.rooms' @lmaskshow='maskShow(0,1)'></list>
                    <!--大厦简介-->
                    <info :info='Info' id='buildingIntro'></info>
                    <!--十分钟步行圈-->
                    <!--<div class="walk">
                        <h3>10分钟步行圈</h3>
                        <div class="map-container">
                            <ul class='feature'>
                                <li class=''>
                                    <span class='hi-title on'>地铁/公交站</span>
                                    <span class='hi-content'>约<i>25</i>个站台</span>
                                </li>
                                <li class=''>
                                    <span class='hi-title on'>快餐/餐厅</span>
                                    <span class='hi-content'>约<i>10</i>个站台</span>
                                </li>
                                <li class=''>
                                    <span class='hi-title on'>银行/ATM</span>
                                    <span class='hi-content'>约<i>3</i>个站台</span>
                                </li>
                                <li class=''>
                                    <span class='hi-title on'>酒店</span>
                                    <span class='hi-content'>约<i>5</i>个站台</span>
                                </li>
                            </ul>
                            <div class='map-box' id="ten-Map">

                            </div>
                        </div>
                    </div>-->
                    <!--周边大厦-->
                    <div class="house-surround" id='buildingSur'>
                        <h3>周边大厦</h3>
                        <div class="hs-list">
                            <div class="hs-btn btn-l"><i class='iconfont icon-shangyiyehoutuifanhui'></i></div>
                            <div class="hs-btn btn-r"><i class='iconfont icon-xiayiyeqianjinchakangengduo'></i></div>
                            <div class="hs-slide">
                                <div class="hs-pic">
                                    <template v-for="item in totalData.around">
                                        <a :href="item.href">
                                            <img :src="item.titlePicture" alt="">
                                            <div class='hs-name' v-cloak>{{item.name}}</div>
                                            <div class='hs-price' v-cloak>{{item.price}}元/m²/月</div>
                                            <div class='hs-dis' v-cloak>距离{{item.distance}}米</div>
                                        </a>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <foot></foot>
    </div>
    <script src='./js/detail.js'></script>
    <!--<script>
        var map = new BMap.Map("pos_img");

        var point = new BMap.Point(1, 1);
        map.centerAndZoom(point, 16);

        var marker = new BMap.Marker(point);
        map.addOverlay(marker);

        map.enableScrollWheelZoom();
        map.enableKeyboard();
    </script>-->
</body>

</html>