<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>园区云首页</title>
</head>

<body>
    <div id="app">
        <!--顶部-->
        <top></top>
        <!--挂载区域-->
        <div class="container">
            <!--搜索-->
            <div class="sear">
                <div class="s-content">
                    <h5>办公选址上好租 1小时轻松搞定</h5>
                    <p>你的新办公室，很漂亮</p>
                    <div class="s-input">
                        <input type="text" placeholder="输入您要查找的楼盘或区域名称" v-model='sear'>
                        <a href="javascript:void(0);" class='nor-sear' @click='searReq()'>开始找房</a>
                        <a href="javascript:void(0);" class='map-sear'>地图找房</a>
                    </div>
                </div>
            </div>
            <!--筛选及内容-->
            <div class="content box">
                <!--筛选-->
                <div class="c-filter">
                    <div class="c-f-region c-list">
                        <div class="title">区域</div>
                        <div class="c-f-list clearfix">
                            <a :href='item.href' v-for="item in regionArr">{{item.name}}</a>
                            <a href='./pag.html'>更多>></a>
                        </div>
                    </div>
                </div>
                <!--展示内容-->
                <div class="c-product">
                    <ul class='c-p-list clearfix'>
                        <template v-for="list in picArr">
                        <li class='list-item'>
                            <a :href="list.href">
                                <img :src="list.titlePicture" alt="">
                                <p class='l-title'>{{list.name}}</p>
                                <p class='l-intro'>{{list.titleDesc}}</p>
                            </a>
                        </li>
                    </template>
                        <li class='list-item'>
                            <a href="./pag.html">查看更多</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <foot></foot>
    </div>
    <script src="./js/index.js"></script>
</body>

</html>