<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/pag.css">
    <link rel="stylesheet" href="./icon/iconfont.css">
    <link rel="stylesheet" href="./css/pagination.css">
    <title>筛选页</title>
</head>


<body>
    <div id="app">
        <!--顶部-->
        <top></top>
        <!--挂载区域-->
        <div class='container'>
            <div class="detail box">
                <!--标题-->
                <div class="title">
                    <div class="list">
                        <a href="#" class='on'>全部类型</a>
                        <a href="#">写字楼</a>
                        <a href="#">联合办公</a>
                        <a href="#">工位</a>
                    </div>
                </div>
                <div class="filter">
                    <!--位置-->
                    <div class="filter-item clearfix">
                        <div class="f-title fl">位置</div>
                        <div class="f-list fr">
                            <div class="f-list-item f-l-1 clearfix">
                                <a href="javascript:void(0);">区域</a>
                            </div>
                            <div class="f-list-item f-l-2 clearfix">
                                <a href="javascript:void(0);" v-for="(item,index) in flPos1" @click='setSel(0,index)' :class='{on:posIter1 == index}' v-cloak>{{item.name}}</a>
                            </div>
                            <div class="f-list-item f-l-3 clearfix" v-show="flPos2Show">
                                <a href="javascript:void(0);" v-for="(item,index) in flPos2" @click='setSel(1,index)' :class='{on:posIter2 == index}' v-cloak>{{item.name}}</a>
                            </div>
                            <div class="f-list-item f-l-4 clearfix" v-show='flPos3Show'>
                                <a href="javascript:void(0);" v-for="(item,index) in flPos3" @click='setSel(2,index)' :class='{on:posIter3 == index}' v-cloak>{{item.name}}</a>
                            </div>
                        </div>
                    </div>
                    <!--面积-->
                    <div class="filter-item clearfix">
                        <div class="f-title fl">面积</div>
                        <div class="f-list fr">
                            <div class="f-list-item f-l-1 clearfix">
                                <a href="javascript:void(0);" v-for="(item,index) in flArea" @click='setSel(3,index)' :class='{on:areaIter == index}'>{{item}}</a>
                            </div>
                        </div>
                    </div>
                    <!--价格-->
                    <div class="filter-item clearfix">
                        <div class="f-title fl">价格</div>
                        <div class="f-list fr">
                            <div class="f-list-item f-l-1 
                            clearfix">
                                <a href="javascript:void(0);" :class='{on:priceTypeIter === 0}' @click='priceTypeIter = 0'>单价</a>
                                <a href="javascript:void(0);" :class='{on:priceTypeIter === 1}' @click='priceTypeIter = 1'>总价</a>
                            </div>
                            <div class="f-list-item f-l-2 clearfix" v-show="priceTypeIter === 0">
                                <a href="javascript:void(0);" v-for="(item,index) in flSimplePrice" @click='setSel(4,index)' :class='{on:simplePriceIter == index}' v-cloak>{{item}}</a>
                            </div>
                            <div class="f-list-item f-l-2 clearfix" v-show="priceTypeIter === 1">
                                <a href="javascript:void(0);" v-for="(item,index) in flTotalPrice" @click='setSel(5,index)' :class='{on:totalPriceIter == index}' v-cloak>{{item}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--展示列表-->
                <div class="content">
                    <template v-for="item in list">
                        <div class="c-list clearfix">
                            <div class='map fl'>
                                <a :href="item.href">
                                    <img :src="item.titlePicture" alt="">
                                </a>
                            </div>
                            <div class='info fl'>
                                <div class="part1 clearfix">
                                    <h2 class='fl'>
                                        <a href="#" v-cloak>{{item.name}}</a>
                                    </h2>
                                    <div class="price fr">
                                        <span class='num' v-cloak>{{item.price}}</span>
                                        <span class='unit'>元/m²/月</span>
                                    </div>
                                </div>
                                <div class="part2">
                                    <span v-cloak>{{item.region}}-{{item.street}}</span>
                                </div>
                                <div class="part3">
                                    <span class='update' v-cloak>{{item.updateTime}}前有更新</span>
                                    <span class='order' v-cloak> · 近30天内共有{{item.appiontCount}}人预约</span>
                                </div>
                                <div class="part4">
                                    <a :href="i.href" v-for="i in item.rooms" v-cloak>{{i.area}}m²</a>
                                </div>
                                <a :href="item.href" class="btn">查看详情</a>
                            </div>
                        </div>
                    </template>
                    <div class="tips" v-if="noData">
                        <p>未查到大厦信息</p>
                    </div>
                    <div class="M-box"></div>
                </div>
            </div>

        </div>
        <!--底部-->
        <foot></foot>
    </div>
    <script src="./js/pag.js"></script>
</body>

</html>